a, button, input, select {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}

a {
    color: #1976d2;
    cursor: pointer;
    text-decoration: underline;
}

.logout-link {
    color: #1976d2;
    cursor: pointer;
    text-decoration: underline;
    float: right;
}